---
import { getPlayers } from "../repositories/players.repo";
import PlayersManager from "./react/PlayersManager";

const url = new URL(Astro.request.url);
const q = url.searchParams.get("q") ?? "";
const page = Number(url.searchParams.get("page") ?? 1);
const limit = Number(url.searchParams.get("limit") ?? 5);
const offset = (page - 1) * limit;

const initialData = getPlayers({ q, limit, offset });
console.log(initialData);
---

<div class="flex justify-center">
    <div
        class="flex flex-col w-full m-6 bg-white border-solid border-2 border-(--middle-gray) rounded-2xl"
    >
        <PlayersManager
            client:load
            initialParams={{ q, page, limit }}
            initialItems={initialData}
        />
    </div>
</div>
