---

---

<aside
    class="flex flex-col w-1/5 min-w-3xs bg-white border-2 border-solid border-(--middle-gray)"
>
    <header
        class="flex h-1/6 border-b-1 border-b-solid border-b-(--middle-gray) items-center"
    >
        <div
            class="bg-[url(/icons/basketball-icon.svg)] ml-4 bg-center size-[70px] rounded-xl bg-(--primary-color) bg-no-repeat"
        >
        </div>
        <div class="ml-4">
            <p class="mt-1 text-2xl font-bold mb-0">Admin Panel</p>
            <p class="mt-1 text-xl text-(--hard-gray)">Basketball</p>
        </div>
    </header>
    <div class="flex flex-1 flex-col">
        <button class="btn" type="button">
            <div class="flex w-1/5 h-[50px] justify-center">
                <img src="/icons/people-icon.png" class="object-contain" />
            </div>
            <span class="text-2xl font-bold">Players</span>
            <span class="w-1/5"></span>
        </button>
        <button class="btn" type="button">
            <div class="flex w-1/5 h-[50px] justify-center">
                <img
                    src="/icons/basketball-court-icon.png"
                    class="object-contain"
                />
            </div>
            <span class="text-2xl font-bold">Matches</span>
            <span class="w-1/5"></span>
        </button>
    </div>
    <footer
        class="h-fit text-center text-(--hard-gray) border-t-1 border-t-solid border-t-(--middle-gray)"
    >
        <p class="mt-4 mb-4">Administration Panel v1.0</p>
    </footer>
</aside>
