---
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta
            name="description"
            content="Webapp that allows to manage a basteball team."
        />
    </head>
    <body class="font-sans bg-(--middle-gray)">
        <main>
            <slot name="form" />
        </main>
    </body>
</html>
